* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #000C36;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

header img {
    width: 6.1875rem;
    height: 6.75rem;
    margin: 3.12rem 9.19rem 0;
}

h1 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 2.8125rem;
    font-weight: 400;
}

.app-screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 24.5625rem;
    padding: 2.25rem 2.12rem;
}

h2 {
    font-weight: 400;
}

.app-screen textarea {
    border: none;
    resize: none;
    border-radius: 0.625rem;
    background: #3B4877;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 0.75rem;
    color: #fff;
}

.app-screen textarea:first-of-type {
    min-height: 5.5rem;
}

.app-screen button {
    color: #000C36;
    font-family: inherit;
    font-size: 1.875rem;
    font-weight: 700;
    border-radius: 0.625rem;
    background-color: #51E08A;
    height: 4.4375rem;
    margin-top: 2.87rem;
}